<article class="card block run">
    <header class="header p-4">
        <h1 class="title is-5">{{ run.name }}</h1>
        <p class="content subtitle is-5">{{ run.start_time }}</p>
    </header>
    <div class="card-image">
        <figure class="image">
            <img src="{{ url_for('img', path='/runs/' + run.image_name) }}" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content has-text-left">
    <div class="columns is-mobile">
        <section class="block column is-half m-2 p-2">
            <figure class="image is-32x32 is-inline-block mr-3">
                <img src="{{ url_for('img', path='/icons/distance.png') }}" alt="Distance">
            </figure>
            <span class="title is-3">{{ run.distance }}</span> <span class="subtitle is-5">km</span>
        </section>
        <section class="block column is-half m-2 p-2">
            <figure class="image is-32x32 is-inline-block mr-3">
                <img src="{{ url_for('img', path='/icons/time.png') }}" alt="Duration">
            </figure>
            <span class="title is-3">{{ run.duration }}</span> <span class="subtitle is-5">min</span>
        </section>
    </div>
    <div class="columns is-mobile">
        <section class="block column is-half m-2 p-2">
            <figure class="image is-32x32 is-inline-block mr-3">
                <img src="{{ url_for('img', path='/icons/pace.png') }}" alt="Pace">
            </figure>
            <span class="title is-3">{{ run.pace }}</span>
        </section>
        <section class="block column is-half m-2 p-2">
            <figure class="image is-32x32 is-inline-block mr-3">
                <img src="{{ url_for('img', path='/icons/heart-beat.png') }}" alt="Heart Rate">
            </figure>
            <span class="title is-3">{{ run.heart_rate }}</span> <span class="subtitle is-5">bpm</span>
        </section>
    </div>
  </div>
  <div class="block is-mobile px-2 pb-4 mx-4">
        <article class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ url_for('img', path='/shoes/' + run.shoe.color + '-shoes.png') }}" alt="{{ run.shoe.name }}">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
                <span class="subtitle is-5">{% if run.shoe.primary %}<span class="has-text-info has-text-weight-bold is-size-5">*</span> {% endif %}{{ run.shoe.name }}</span> &mdash; <span class="is-size-6">{{ run.shoe.distance }} / 400 km</span>
                <progress class="progress my-1 is-info" value="{{ run.shoe.distance }}" max="400">{{ run.shoe.distance }}/400 km</progress>
            </div>
          </div>
        </article>
    </div>
</article>
